#title
  %h1 Contrasaurus

#game_container
  %canvas#gameCanvas{:width => 640, :height => 480}
    %p
      HTML5 canvas not supported by your browser.
      = link_to "Learn more here", "http://www.google.com/chrome"
    #tilt
  #game_info{:style => "display: none;"}
    .bar_container.left
      %span.label health
      .progress_bar
        #health
    #boss.bar_container.left{:style => "display: none;"}
      %span.label boss
      .progress_bar.boss
        #bossHealth
    #score_holder
      %span.label score
      %span#score 0
    .clear
    #level_objectives{:style => "display: none;"}
    #continue{:style => "display: none;"}
      %p CONTINUE?
      %button.continue_yes{:name => 'Yes'} Yes
      %button.continue_no{:name => 'No'} No

#purchase_prompt.modal_prompt{:style => "display: none;"}
  %p In order to play the complete game, please purchase the full version.
  - form_for UserSession.new, :url => authenticate_path, :html => { :method => :post, :class => "authentication_form" } do |f|
    = hidden_field_tag :openid_identifier, "https://www.google.com/accounts/o8/id"
    .actions
      %button.purchase_yes Get it from Chrome Web Store
      = submit_tag "Already purchased? Log in!", :class => "login_yes"

= javascript_include_tag "contrasaurus"

:javascript
  loggedIn = #{!!current_user};
  hasPaid = #{!!current_user && current_user.has_full_version?};

  $('#gameCanvas').powerCanvas({init: function(_canvas) {

    canvas = _canvas;
    canvas.font("bold 1.2em 'Monaco', 'Inconsolata', 'consolas', 'Courier New', 'andale mono', 'lucida console', 'monospace'");

    var started = false;
    var loaded = false;
    var titleScreen = Sprite.load("images/titlescreen.png");
    var dots = "";

    var loadingInterval = setInterval(function() {
      if(dots.length % 4 == 3) {
        dots = "";
      } else {
        dots = dots + ".";
      }

      var status = AssetTracker.count();

      if(status[0] >= status[1]) {
        loaded = true;
        clearInterval(loadingInterval);
      }

      titleScreen.draw(canvas, 0, 0);
      canvas.fillColor("#FFF");
      if(loaded) {
        canvas.centerText("PRESS SPACE TO START", 360);
      } else {
        canvas.fillText("LOADING" + dots, 280, 360);
      }
    }, 500);

    $('.continue_yes').click(function() {
      dino.heal(500);
      score = Math.floor(score / 2);
      currentLevel.continueResume();
      $("#game_container").css("cursor", "none");
      $('#continue').hide();
    });

    $('.continue_no').click(function() {
      $('#continue').hide();
      endGameDisplay();
    });

    $(".purchase_yes").click(function(e) {
      e.preventDefault();
      window.location = "https://chrome.google.com/extensions/detail/depggoipkaplhlnliihoddiiakoliloa?hl=en-US";
    });

    $(document).bind("keydown", "space", function() {
      if(loaded && !started) {
        started = true;

        if(savedGameData) {
          if(savedGameData.level >= payStage && !hasPaid) {
            $("#purchase_prompt").show();
            _gaq.push(['_trackEvent', 'purchase', "Purchase Prompt"]);
          } else {
            nextStage(savedGameData.level);
          }
        } else {
          nextStage();
        }
      }
    })
  }});
