%style
  :sass
    body
      background-color: #FFF

#title
  %h1 Hitbox Editor

#game_container
  #game_info
    %span#health_label health
    #progress_bar
      #health
    #score_holder
      %span#score_label score
      %span#score 0
  %canvas#editorCanvas{:width => 640, :height => 480}
    %p
      HTML5 canvas not supported by your browser.
      = link "Learn more here", "http://www.google.com/chrome"

#controls

= text_field "imageUrl", "images/enemies/ramp.png"
%button#loadImage Load Image
= "|"
= text_field "animationDataUrl", "data/bomber/bomber.animation.json"
%button#loadAnimation Load Animation
= "|"
= text_field "modelDataUrl", "data/commando/commando_idle.model.json"
%button#loadModel Load Model
= "|"
%button#export Export

%pre#output

= javascripts "editors/hit"
