#title 
  %h1 Contrasaurus

#debug
  Test

#game_container
  #game_info
    .bar_container.left
      %span.label health
      .progress_bar
        #health
    #boss.bar_container.left{:style => "display: none;"}
      %span.label boss
      .progress_bar.left
        #bossHealth
    #score_holder
      %span.label score
      %span#score 0
    .clear
  %canvas#gameCanvas{:width => 640, :height => 480}
    %p 
      HTML5 canvas not supported by your browser.
      = link "Learn more here", "http://www.google.com/chrome"
    #tilt
#menu_container
  - %w[battleAxe bazooka bomb chainsaw flamethrower laserGun machineGun meat shield shotgun].each do |weapon|
    .menu{"data-weaponClass" => weapon}
      = img "menu/#{weapon}.png"

= javascripts('contrasaurus/main')

- levels = %w[prehistoric area51 boat jungle washington_dc win_game].map {|name| "contrasaurus/levels/#{name}" }
= javascripts(*levels)

:javascript
  $('#gameCanvas').powerCanvas({init: function(_canvas) {

    canvas = _canvas;
    canvas.font("bold 1em consolas, 'Courier New', 'andale mono', 'lucida console', monospace");

    canvas.fillColor("black");
    canvas.fillText("LOADING...", 280, 240);

    var loadChecker = setInterval(function() {
      var status = AssetTracker.count();

      if(status[0] >= status[1]) {
        clearInterval(loadChecker);
        nextStage();
      }
    }, 1000);
  }});
