#title 
  %h1 Contrasaurus

#game_container
  #game_info
    %span#health_label health
    #progress_bar
      #health
    #score_holder
      %span#score_label score
      %span#score 0
  %canvas#gameCanvas{:width => 640, :height => 480}
    %p 
      HTML5 canvas not supported by your browser.
      = link "Learn more here", "http://www.google.com/chrome"
    #tilt
#menu_container
  #meat.menu{"data-iconName" => "meat.png", "data-used" => "false"}
    = img "menu/meat.png"
  #shotgun.menu{"data-iconName" => "placeholder_shotgun.png", "data-weaponClass" => "shotgun", "data-used" => "false"}
    = img "menu/shotgun.png"
  #bazooka.menu{"data-iconName" => "placeholder_bazooka.png", "data-weaponClass" => "bazooka", "data-used" => "false"}
    = img "menu/bazooka.png"
  #bomb.menu{"data-iconName" => "placeholder_bomb.png", "data-weaponClass" => "bomb", "data-used" => "false"}
    = img "menu/bomb.png"
  #flamethrower.menu{"data-iconName" => "placeholder_flamethrower.png", "data-weaponClass" => "flamethrower", "data-used" => "false"}
    = img "menu/flamethrower.png"
  #laserGun.menu{"data-iconName" => "placeholder_laserGun.png", "data-weaponClass" => "laser", "data-used" => "false"}
    = img "menu/laserGun.png"
  #machineGun.menu{"data-iconName" => "machine_gun.png", "data-weaponClass" => "machineGun", "data-used" => "false"}
    = img "menu/machineGun.png"
  #chainsaw.menu{"data-iconName" => "chainsaw.png", "data-weaponClass" => "chainsaw", "data-used" => "false"}
    = img "menu/chainsaw.png"
  #battleAxe.menu{"data-iconName" => "battle_axe.png", "data-weaponClass" => "battleAxe", "data-used" => "false"}
    = img "menu/battleAxe.png"
  #shield.menu{"data-iconName" => "shield.png", "data-weaponClass" => "shield", "data-used" => "false"}
    = img "menu/shield.png"

= javascripts('contrasaurus/main')

- levels = %w[prehistoric area51 boat jungle washington_dc].map {|name| "contrasaurus/levels/#{name}" }
= javascripts(*levels)

:javascript
  $('#gameCanvas').powerCanvas({init: function(_canvas) {

    canvas = _canvas;
    canvas.font("bold 1em consolas, 'Courier New', 'andale mono', 'lucida console', monospace");

    nextStage();
  }});
