#title 
  %h1 Contrasaurus

#game_container
  #game_info
    %span#health_label health
    #progress_bar
      #health
    #score_holder
      %span#score_label score
      %span#score 0
  %canvas#gameCanvas{:width => 640, :height => 480}
    %p 
      HTML5 canvas not supported by your browser.
      = link "Learn more here", "http://www.google.com/chrome"
    #tilt
#menu_container
  #meat.menu
    = img "menu/meat.png"
  #Shotgun.menu
    = img "menu/shotgun.png"
  #Bazooka.menu
    = img "menu/bazooka.png"
  #Bomb.menu
    = img "menu/bomb.png"
  #Flamethrower.menu
    = img "menu/flamethrower.png"
  #LaserGun.menu
    = img "menu/laserGun.png"
  #MachineGun.menu
    = img "menu/machineGun.png"
  #Chainsaw.menu
    = img "menu/chainsaw.png"
  #BattleAxe.menu
    = img "menu/battleAxe.png"
  #Shield.menu
    = img "menu/shield.png"

= javascripts('contrasaurus/main')

- levels = %w[prehistoric area51 boat jungle washington_dc].map {|name| "contrasaurus/levels/#{name}" }
= javascripts(*levels)

:javascript
  $('#gameCanvas').powerCanvas({init: function(_canvas) {

    canvas = _canvas;
    canvas.font("bold 1em consolas, 'Courier New', 'andale mono', 'lucida console', monospace");

    nextStage();
  }});
