!!!
%html
  %head
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    %title Contrasaurus
  
    = stylesheets
  
    = javascripts('contrasaurus/config', 'jquery-1.4.2.min', 'power_canvas.jquery', 'sprites.strd6', 'power_canvas.jquery', 'util')
    - projectile_files = %w[bomb bomb_explosion bullet flame laser missile powerup powerup_container].map { |file_name| "contrasaurus/projectiles/#{file_name}" }
    = javascripts(*projectile_files)
    = javascripts('contrasaurus/levels/cutscene', 'contrasaurus/levels/level')
    = javascripts('contrasaurus/enemies/bomber', 'contrasaurus/enemies/enemy', 'contrasaurus/enemies/parasoldier', 'contrasaurus/enemies/tank')
    = javascripts('contrasaurus/dinosaur', 'contrasaurus/floor', 'contrasaurus/game_object', 'contrasaurus/UI')

  %body
    = yield
