!!!
%html
  %head
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    %title Contrasaurus
  
    = stylesheets
    %link{ :rel => "shortcut icon", :href => "favicon.ico", :type => "image/x-icon"}

    = javascripts('contrasaurus/config', 'jquery-1.4.2.min', 'jquery.hotkeys', 'power_canvas.jquery', 'sprites.strd6', 'power_canvas.jquery', 'util')
    - projectile_files = %w[bomb bomb_explosion bullet effect flame laser missile powerup powerup_container].map { |file_name| "contrasaurus/projectiles/#{file_name}" }
    = javascripts(*projectile_files)
    = javascripts('contrasaurus/levels/cutscene', 'contrasaurus/levels/level')
    - enemy_files = %w[bomber enemy parasoldier tank utahraptor].map { |name| "contrasaurus/enemies/#{name}" }
    = javascripts(*enemy_files)
    = javascripts('contrasaurus/dinosaur', 'contrasaurus/floor', 'contrasaurus/game_object', 'contrasaurus/UI')
    = javascripts('contrasaurus/weapons/bazooka', 'contrasaurus/weapons/flamethrower', 'contrasaurus/weapons/jetpack', 'contrasaurus/weapons/laser_gun', 'contrasaurus/weapons/machine_gun', 'contrasaurus/weapons/primal_scream', 'contrasaurus/weapons/shotgun', 'contrasaurus/weapons/weapon')

  %body
    = yield
