!!!
%html
  %head
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    %title Contrasaurus
  
    = stylesheets
    %link{ :rel => "shortcut icon", :href => "favicon.ico", :type => "image/x-icon"}

    = javascripts('contrasaurus/config', 'jquery-1.4.2.min', 'jquery.hotkeys', 'power_canvas.jquery', 'sprites.strd6', 'power_canvas.jquery', 'util', 'matrix')
    - projectile_files = %w[bomb explosion bullet effect flame grenade homing_missile laser missile powerup powerup_container].map { |file_name| "contrasaurus/projectiles/#{file_name}" }
    = javascripts(*projectile_files)
    = javascripts('contrasaurus/levels/cutscene', 'contrasaurus/levels/level')
    - enemy_files = %w[bomber enemy parasoldier soldier tank utahraptor].map { |name| "contrasaurus/enemies/#{name}" }
    = javascripts(*enemy_files)
    = javascripts('contrasaurus/dinosaur', 'contrasaurus/floor', 'contrasaurus/game_object', 'contrasaurus/UI')
    - weapon_files = %w[battle_axe bazooka chainsaw flamethrower jetpack laser_gun machine_gun primal_scream shield shotgun weapon].map {|file_name| "contrasaurus/weapons/#{file_name}" }
    = javascripts(*weapon_files)

  %body
    = yield
    = partial 'analytics'
