!!!
%html{ 'xmlns' => "http://www.w3.org/1999/xhtml",  'xmlns:fb' => "http://www.facebook.com/2008/fbml" }
  %head
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    %title Contrasaurus
  
    = stylesheets
    %link{ :rel => "shortcut icon", :href => "favicon.ico", :type => "image/x-icon"}

    = javascripts('contrasaurus/config', 'jquery-1.4.2.min', 'jquery.hotkeys', 'power_canvas.jquery', 'sprites.strd6', 'util', 'matrix')
    - projectile_files = %w[bomb explosion bullet effect flame grenade homing_missile laser meteor missile poison powerup thrown_item].map { |file_name| "contrasaurus/projectiles/#{file_name}" }
    = javascripts(*projectile_files)
    = javascripts('contrasaurus/levels/cutscene', 'contrasaurus/levels/level', 'contrasaurus/levels/scene')
    - enemy_files = %w[boat bomber boss brontosaurus enemy parasoldier ramp robo_reagan scientist secret_service soldier tank utahraptor wolf].map { |name| "contrasaurus/enemies/#{name}" }
    = javascripts(*enemy_files)
    = javascripts('contrasaurus/dinosaur', 'contrasaurus/floor', 'contrasaurus/game_object', 'contrasaurus/UI', 'contrasaurus/model')
    - weapon_files = %w[accessory battle_axe bazooka bite chainsaw flamethrower jetpack laser_gun machine_gun meat primal_scream shield shotgun weapon].map {|file_name| "contrasaurus/weapons/#{file_name}" }
    = javascripts(*weapon_files)

  %body
    = yield
    .clear

    #footer
      %center
        = link "Feedback", "http://www.facebook.com/#!/topic.php?uid=101113043274821&topic=7", :target => "_blank"
        = " | "
        = link "Email STRd6", "mailto:daniel@strd6.com"
      %center
        %p
          %fb:like

    :plain
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({appId: '125517504156817', status: true, cookie: true,
                   xfbml: true});
        };
        (function() {
          var e = document.createElement('script');
          e.type = 'text/javascript';
          e.src = document.location.protocol +
            '//connect.facebook.net/en_US/all.js';
          e.async = true;
          document.getElementById('fb-root').appendChild(e);
        }());
      </script>

    = partial 'analytics'
